.grid-container {
	text-align: center;
  display: grid;
   grid-template-columns: repeat(5,25%);
 	
   
  overflow: scroll;
  column-gap: 25px;
  grid-row-gap: 2%;
  height: calc(100vh);
}


.grid-item{
	/*padding-top: 25px;*/
	transition: border .1s;
	border: 2px solid black;
	overflow:scroll;
}



.grid-item:hover{

	border: 5px solid black;
}