
{% load static %}

{% load bootstrap4 %}



	
{% block content %}


<link rel="stylesheet" type="text/css" href="{% static "css/master.css" %}">
<div class='jumbotron'>
		
		<form method="POST" id='login-form' enctype="multipart/form-data">
			{% csrf_token %}
			<div class="modal-header">
				<h1>Log in</h1>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				
				{% bootstrap_form form%}
				<img src="">
				
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				{# <button type="submit" class="btn btn-primary" form="modal-details">Search</button> #}
				<button type="submit" class="submit-btn btn btn-primary">Login</button>
			</form>
		</div>
	</div>
  
	
<script type="text/javascript">
	
	var modal_body = $('form');
	$('#login-form').submit(function(e){
			e.preventDefault();
			$('.alert').remove();
			var username = $('#id_username').val();
			var fd = new FormData();
			var password = $('#id_password').val()
			fd.append('csrfmiddlewaretoken','{{ csrf_token }}');
			fd.append('username',username);
			fd.append('password',password);
			$.ajax({
				type:'POST',
				url: "{% url 'accounts:login' %}",
				data: fd,
				contentType: false,
				processData:false,
				success: function(response){
						modal_body.prepend($(response).find('.alert')[0]);
					if ($(response).find('.alert').text().length ==0) {
						window.location = '{% url "datasets:list" %}'
					}
				},
			
			});
			
	
	});
</script>
{% endblock content %}
