<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<style>
			
		div {
		
		color: white;
		background-color: red;
		width: 400px;
		height: 400px;
		border-radius: 50%;
		line-height: 18px;
		font-size: 1.3em;
		text-align: center;
		cursor: pointer;
		z-index: 999;
		display:inline-block;
		}
		
		</style>
	</head>
	<body style='background: linear-gradient(to left, #333, #333 50%, #eee 100%);text-align:center'>
		<h1 style="font-family:cursive;margin-bottom:5%">The website is under constraction</h1>
		<img src="https://www.amazing-animations.com/animations/construction6.gif" align='center'><br>
		<div>
			<text id='day' style='position:relative;top:50%;font-family:'>The website will be done on Sep 10, 2020</text>
		</div>
		
	</body>
</html>